* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 120rem;
  margin: 0 auto;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #555;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.7px;

  background-image: radial-gradient(#efefff 2px, transparent 2px),
    radial-gradient(#efefff 2px, #ffffff 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.hidden {
  opacity: 0;
  z-index: -9999;
}

.hidden-popup {
  display: none;
}

.hidden-info {
  display: none;
}

/* HEADER */
#app-header {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  background: rgb(229, 243, 255);
}

/* Saved recipes */
#app-header .saved-recipes-box {
  position: relative;
}

#app-header .saved-recipes-menu {
  cursor: pointer;
}

#app-header .saved-recipes-list {
  background-color: #f0f8ff;
  position: absolute;
  width: 39rem;
  overflow-y: scroll;
  height: 0;
  transition: opacity 0.5s;
}

.saved-recipes-list:empty {
  padding: 0;
}

.saved-recipes-list:not(empty) {
  padding: 1.6rem;
}

#app-header .saved-recipes-box:hover > .saved-recipes-list {
  opacity: 1;
  z-index: 1;
  height: fit-content;
  max-height: 60rem;
}

/* Search */
.search-input-box {
  position: relative;
}

#search-keyword {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  width: 32rem;
  color: #555;
  outline: none;
}

.btn-search {
  position: absolute;
  border: none;
  outline: none;
  background: none;
  font-size: 2.4rem;
  cursor: pointer;

  background-color: aliceblue;
  padding: 0.6rem 1.5rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  position: absolute;
  top: 49%;
  right: 8%;
  transform: translate(50%, -50%);
}

#app-main {
  height: calc(100svh - 8.4rem);
  display: flex;
}

/* LIST */
#recipe-list-box {
  flex-basis: 40rem;
  max-width: 40rem;
  background-color: aliceblue;
  padding: 2rem;
  position: relative;
}

.recipe-list {
  /* 8.4rem (header) + 5rem (pagination) + 3.5rem (footer) + 2rem (aside padding) = 18.9rem */
  height: calc(100svh - 18.9rem);
  overflow-x: scroll;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pagination-box {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.btn-link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  width: 12rem;
  text-align: center;
  background-color: #e5f3ff;
  color: #60b5ff;
}

.btn-link:hover,
.btn-link:active {
  color: #888;
  background-color: #fff;
}

.preview-info {
  text-align: center;
  color: #60b5ff;
  font-size: 2rem;

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.recipe-list > * {
  list-style: none;
}

.recipe-preview-link {
  display: flex;
  gap: 1.6rem;
  text-decoration: none;
}

.preview-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.preview-text {
  align-self: center;
  color: #555;
}

.preview-title {
  width: 28rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.6rem;
}

.preview-publisher {
  font-size: 1.4rem;
}

#preview-footer {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}

/* DETAILS */
#recipe-detail {
  flex-grow: 1;
  max-width: 80rem;
  background-color: rgb(229, 243, 255);
  overflow: scroll;
}

.recipe-info {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 10rem;
  color: #60b5ff;
  padding: 0 5rem;
}

.recipe-info p:first-child {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.recipe-info p:nth-child(2) {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.recipe-info p:last-child {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.recipe-img-box {
  width: auto;
  height: 38rem;
  position: relative;
}

.recipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-text {
  padding: 2rem 5rem;
}

.recipe-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e5f3ffc9;
  font-size: 2.6rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: -0.7px;
}

/* actions */
.recipe-actions {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.recipe-actions a {
  text-decoration: none;
  color: #555;
}

.recipe-servings-box {
  display: flex;
  gap: 1rem;
}

.recipe-duration span,
.recipe-servings span {
  font-weight: 400;
}

/* ingredients */
.ingredients {
  text-align: center;
  margin-bottom: 3rem;
}

.ingredients-title,
.cook-title {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}

.recipe-ingredient-list {
  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  justify-items: start;
  text-align: left;
  font-size: 1.7rem;
}

/* cook */
.cook {
  text-align: center;
  font-size: 1.7rem;
}

.cook-title,
.cook-text {
  margin-bottom: 1rem;
}

.cook-text span {
  font-weight: 400;
}

/* POPUP */
#backdrop {
  width: 100%;
  height: 100svh;
  background-color: #5555556e;
  backdrop-filter: blur(2px);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#popup {
  background-color: #fff;
  width: 100rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#popup header {
  display: flex;
  justify-content: space-between;

  padding: 2rem;
}

.btn-close-popup {
  cursor: pointer;
}
