* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 120rem;
  margin: 0 auto;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #555;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.7px;
}

.hidden {
  opacity: 0;
  z-index: -9999;
}

.hidden-popup {
  display: none;
}

.hidden-info {
  display: none;
}

/* HEADER */
#app-header {
  display: flex;
  gap: 5rem;
  justify-content: center;

  padding: 3rem;
  background: rgb(229, 243, 255);
}

#app-header .show-bookmarks {
  position: relative;
  cursor: pointer;
}

#app-header .show-bookmarks:hover > .bookmark-box {
  opacity: 1;
  z-index: 1;
}

.bookmark-box {
  background-color: #fff;
  position: absolute;
  width: 40rem;
  padding: 1rem;
}

#app-main {
  height: calc(100svh - 8.4rem);
  display: flex;
}

/* LIST */
#recipe-list-box {
  flex-basis: 40rem;
  max-width: 40rem;
  background-color: aliceblue;
  padding: 2rem 3rem;
  overflow-x: scroll;
}

.preview-info {
  text-align: center;
  margin-top: 20rem;
  color: #60b5ff;
  font-size: 2rem;
}

.recipe-list > * {
  list-style: none;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recipe-preview-link {
  display: flex;
  gap: 2rem;

  text-decoration: none;
}

.preview-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.preview-text {
  align-self: center;
  color: #555;
}

.preview-title {
  width: 24rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.6rem;
}

.preview-publisher {
  font-size: 1.4rem;
}

/* DETAILS */
#recipe-detail {
  flex-grow: 1;
  max-width: 80rem;
  background-color: rgb(229, 243, 255);
  overflow: scroll;
  padding-bottom: 4rem;
}

.recipe-info {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 10rem;
  color: #60b5ff;
  padding: 0 5rem;
}

.recipe-info p:first-child {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.recipe-info p:nth-child(2) {
  font-weight: 300;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.recipe-info p:last-child {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
}

.recipe-img-box {
  width: auto;
  height: 35rem;
  margin-bottom: 3rem;
  position: relative;
}

.recipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-text {
  padding: 0 5rem;
}

.recipe-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f8ffb0;
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: -0.7px;
}

/* actions */
.recipe-actions {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.recipe-actions a {
  text-decoration: none;
  color: #555;
}

.recipe-servings-box {
  display: flex;
  gap: 1rem;
}

.recipe-duration span,
.recipe-servings span {
  font-size: 2.2rem;
  font-weight: 400;
}

/* ingredients */
.ingredients {
  text-align: center;
  margin-bottom: 3rem;
}

.ingredients-title,
.cook-title {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.recipe-ingredient-list {
  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  justify-items: start;
  text-align: left;
}

/* cook */
.cook {
  text-align: center;
}

.cook-title,
.cook-text {
  margin-bottom: 1rem;
}

.cook-text span {
  font-weight: 400;
}

/* POPUP */
#backdrop {
  width: 100%;
  height: 100svh;
  background-color: #5555556e;
  backdrop-filter: blur(2px);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#popup {
  background-color: #fff;
  width: 100rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#popup header {
  display: flex;
  justify-content: space-between;

  padding: 2rem;
}

.btn-close-popup {
  cursor: pointer;
}
